@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@400;600&display=swap');

body {
margin: 0;
box-sizing: border-box;

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}


/*Header for pages*/
}
header {
    font-family: Oswald;
    background-color: #004175;
    border-color: #89DEEF;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    width: 100vw;


}

/*title for all pages*/

#title {
    padding-left: 25px;
}


nav a {
    color: white;
    text-decoration: none;
    padding-right: 25px;
    padding-left: 25px;
}


/*Homepage*/

.dog-hero {
    left: 0px;
    right: 0px;
    top: 90px;
    padding: 0px;
    width: 100vw;
}

.homeparagraph {
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 15rem;
    margin-right: 15rem;
    font-family: Open Sans; 

}

/*Adopt a Dog*/

.dog-adoption {
    margin-left: 2rem;
    font-family: Open Sans;
}




.dog-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1.5rem;
    margin-right: 10rem;
    margin-bottom: 5rem;
    justify-items: space-evenly;
    align-items: stretch;
}

.dog {
    font-family: 'Open Sans';
    border-style: solid;
    border-radius: 5px;
    border-color: lightgrey;
    border-width: 2px;
    padding: 1ex;
    margin: 1ex;
    margin-right: 2ex;
}

.dog-name {
    font-family: 'Oswald';
    padding-bottom: 15px;
}

.dog-traits-list { 
    display: flex;
    flex-flow: row wrap;
    width: 31vh;
    justify-content: flex-start;
    align-content: flex-start;
}

.dog-traits-item {
    display: inline;
    background: #89DEEF;
    border-style: solid;
    border-color: #89DEEF;
    border-width: 5px;
    border-radius: 1em;
    margin: 5px;
}

/*Contact Us*/

h2 {
    margin-left: 3rem;
    font-family: Open Sans;
}

.contact-info {
    margin-left: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-style: italic;
    font-family: Open Sans;
}

.hours-info {
    display: flex;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 10rem;
    font-family: Open Sans;
}

/*Footer on Every Page*/

 footer{
    display: flex;
    height: 20rem;
}

.page {
    display: flex;
    width: 33.4%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Oswald;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.donate {
    background:linear-gradient( rgba(85, 85, 240, 0.5),
    rgba(85, 85, 240, 0.5)), 
    url(images/donate.jpg);
    background-size: cover;
}

.volunteer {
    background:linear-gradient( rgba(85, 85, 240, 0.5),
    rgba(85, 85, 240, 0.5)), 
    url(images/volunteer.jpg);
    background-size: cover;
}

.location {
    background:linear-gradient( rgba(85, 85, 240, 0.5),
    rgba(85, 85, 240, 0.5)), 
    url(images/location.png);
    background-size: cover;
}